body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.map-container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: block;
}


#map {
    height: 400px;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.map-container h2 {
    margin-top: 0;
    margin-bottom: 15px;
}

.coordinate-label {
    margin-bottom: 10px;
}

.coordinate-label span:first-child {
    font-weight: bold;
    margin-right: 5px;
}

input[type="text"] {
    display: block;
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
}

#supportSelect, #intervalSelect {
    height: 32px; /* Ajustez la valeur selon vos besoins */
    font-size: 14px; /* Ajustez la taille de la police si nécessaire */
    margin-bottom: 10px; /* Ajustez cette valeur selon l'espace désiré */
}

.interval-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.interval-label {
    margin-right: 10px;
}

#logArea {
    background-color: #e0e0e0;
    padding: 10px;
    height: 100px;
    overflow-y: scroll;
    margin-top: 10px;
    font-size: 12px; /* Ajustez cette valeur selon la taille désirée */
    line-height: 1.4; /* Ajustez cette valeur pour l'espacement vertical entre les lignes */
}

#toggleMap, #toggleTracking, #intervalSelect {
    margin-top: 10px;
}


button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    background-color: #cc3d55;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #b03048;
}

.context-menu {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    z-index: 1000;
}

.context-menu-item {
    padding: 5px 10px;
    cursor: pointer;
}

.context-menu-item:hover {
    background-color: #f0f0f0;
}

/* Styles pour les écrans plus larges */
@media (min-width: 768px) {
    .main-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .container, .map-container {
        width: 48%;
    }

    .map-container {
        margin-bottom: 0;
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
    margin-bottom: 10px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #f3212cb2;
  }
  
  input:checked + .slider:before {
    transform: translateX(16px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  